<!DOCTYPE HTML>
<html>
<head>
    <title>CarnaStore - Venha ser felix!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../assets/styles/index.css" />
</head>
<body>

<!-- Header -->
   
        
<!-- Nav -->
	<div class="wrapper">	
		<div class="nav">
			<a class="nav__logo" href="#home">
				<img src="../../layout/images/logo.svg">
			</a>
			<p class="nav__item content--small">Venha ser felix no carnaval!</p>
		</div>
	</div>


<!--  Banner -->
   <header class="banner">
			<div class="banner__image ">					
				<img class="banner__decoration" src="../../layout/images/confetti-banner.svg">
					<div class="wrapper">
						<div class="banner__text">	
							<h1 class="content--uppercase content--large">Ainda dá tempo de <span class="highlight--primary">ser felix</span></h1>
							<p class="content--uppercase content--medium">Fantasias Premiun por <span class="highlight--secondary">R$100</span></p>
							<button class="banner__btn btn--medium btn--positive">Comprar agora</button>
						</div>
					</div>
				<img src="../../layout/images/confetti-banner.svg">
			</div>
    </header>
	
<!--	produtos-->
	
	<section class="products">
		<div class="wrapper">
			<h1 class="products__title content--medium content--letter-spaced">Se você comprar eu te dou um <span class="highlight--secondary">beijo </span><span class="highlight--tertiary">(só se quixer)</span></h1>
			<div class="products__container">
				<div class="products__item">
					<img class="products__img"  src="../../layout/images/fantasia-02.png" alt="Fantasia 1">
					<p class="products__text content--small content--uppercase">de <span class="content--dashed">R$200</span> por <span class="highlight--secondary">R$100</span></p>
					<button class="products__btn btn btn--positive btn--medium products__btn">Mais detalhes</button>	
				</div>
				<div class="products__item">
					<img class="products__img" src="../../layout/images/fantasia-01.png" alt="Fantasia 2">
					<p class="products__text content--small content--uppercase">de <span class="content--dashed">R$200</span> por <span class="highlight--secondary">R$100</span></p>
					<button class="products__btn btn btn--positive btn--medium">Mais detalhes</button>	
				</div>
				<div class="products__item">
					<img class="products__img" src="../../layout/images/fantasia-03.png" alt="Fantasia 3">
					<p class="products__text content--small content--uppercase">de <span class="content--dashed">R$200</span> por <span class="highlight--secondary">R$100</span></p>
					<button class="products__btn btn btn--positive btn--medium">Mais detalhes</button>	
				</div>
			</div>
		</div>
	</section>
	
<!--	contato -->
	<section>
		<div class="wrapper bg--secondary">
			<div class="contact ">
				<img src="../../layout/images/white-logo.svg" alt="logotipo carnastore" class="">
				<a href="mailto:contato@carnastore.com" class="contact__content content--x-small">contato@carnastore.com</a>
		</div>
			</div>
	</section>

	
<!--	footer-->
	<footer class="">
		<div class="wrapper">
			<div class="footer">
			<img src="../../layout/images/cards.svg" alt="bandeiras de cartões mastercard visa e american express">
			<img src="../../layout/images/security-icon.svg" alt="icone de segurança">
			</div>
		</div>
		<div class="footer__copyright">
			<p class="content--x-small">Desenvolvido pela <b>Humanoide</b></p>
		</div>
	</footer>
	
</body>
</html>